mongoConnection/node_modules
venv
vinod.code-workspace
mongoConnection/mongo*
mongodb-realm
uploadSensorData/node_modules
photos
.vscode
**/__pycache__
dummy.py
.vscode
**/node_modules
launcher.sh
nohup.out
**/.vscode/
